*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
nav{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    padding: 30px 100px;
    position: fixed;
    width: 100%;   
}
@font-face{
    font-family: Ngaan;
    src: url(./font/I.Ngaan.ttf);
}
#logo span{
    font-family: Ngaan;
    font-size: 40px;
    font-weight: 500;
    color:white;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* 重複3個並等分 */
    align-items: center;
    /* 垂直置中 */
    text-align: center;
    /* 水平置中 */
}
#icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;

}
#icons img{
    width: 28px;
    height: 29px;
    
}
#navbar a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    transition: 0.3s;
    /* 執行動畫要有單位跟顏色才行 */
}
#navbar a:hover{
    color:black;
    font-size: 18px;
}
#banner{
    background-image: url(./image/background\ image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    color: white;
    align-items: center;
    text-align: center;
}
#banner div{
    width: 10px;
    margin: 0 auto;
}
#banner div h1{
    font-family: Ngaan;
    font-size: 50px;
    font-weight: 100;
}
section{
    width: 100%;
    margin: 0 auto;
    background-image: url(./image/background\ color.png);
    border:0.1px solid rgba(0,0,0,0);

}
section h1{
    text-align: center;
    margin-top: 46px;
    margin-bottom: 60px;
    font-weight: 300;
    letter-spacing:9.6px;
    font-size: 32px
}
#message{
    width: 100%;
    height: 100%;
}
.container{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin:0 auto ;
    /* border:1px solid #000; */
}
.elements{
    top: 20px;
    width: 300px;
    height: 500px;
    grid-gap: 20px;
    padding: 0 20px;
    margin:0 auto;
    background-color: white;
}
.watermelon{
    background-image: url(./image/西瓜汁.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 30px auto;
}
.elements h4{
    color:#49aa45;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    margin: 20px auto;
}
.elements h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin:10px  0 auto ;
    letter-spacing:2.5px;
}
.elements p{
    color:#333333;
    font-size: 10px;
    text-align: left;
    margin: 20px auto;
    width: 250px;
    line-height: 2.2;
    letter-spacing:3px;
}
#img2{
  text-align: center;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#img2 div{
    width: 300px;
    height: 550px;
    position: absolute;
    top: 73px;
    right: 140px;
}
#img2 div h2{
    color:#f5bb28;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 8.4px;
    text-align: center;
    margin: 20px auto
}
#img2 div h3{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.8px;
    text-align: center;
    color: #cccccc;
    margin:10px auto ;
}
#img2 div p{
    width: 250px;
    font-size:20px;
    line-height: 2.5;
    letter-spacing: 5px;
    text-align: left;
    color: #000000;
    margin: 30px auto;
    padding-left: 15px;
}
#img3{
    width: 1200px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 10px;   
    padding: 10px auto;
}
#img3 img{
    border: 10px solid white;
}
#img3 div{
    width: 700px;
    height: 300px;
}
#img3 div h1{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 7.2px;
    text-align: left;
    color: #000000;
    margin: 20px auto;
    margin-left: 20px;
}
#img3 div p{
    width: 290px;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 6px;
    text-align: left;
    color: #000000;
    margin-left: 20px;
}
#img3 div #frame{
    width: 250px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}
#img3 div #frame #readmore{
    width: 220px;
    height: 52px;
    border: solid 2px #252525;
}
#img3 div #frame #readmore h4{
    font-size: 18px;
    font-weight: 300;
    line-height: 2.78;
    letter-spacing: 5.4px;
    text-align: center;
    color: #000000;
}
footer{
    background-image: url(./image/background\ color.png);
    width: 100%;
    height: 500px;    
    margin-top: 0;
    border: 5px solid rgba(0,0,0,0);
}
footer #title{
    margin-top: 120px;
    text-align: center;
    align-items: center;
}
footer #ending{
    text-align: center;
    margin-top: 30px;
    align-items: center;
}
footer #ending h2{
    font-size: 12px;
    font-weight: 300;
    line-height: 4.17;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}
footer #ending h3{
    font-size: 10px;
    font-weight: 300;
    line-height: 3;
    letter-spacing: 3px;
    text-align: center;
    color: #000000;
}